* {
  margin:0;
  border:0;
  padding:0;
}

html,
body {
  height:100%;
  display:block;
  background: #e2e2e2;
}

.main {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.container {
  display:table;
  width:100%;
  height:100%;
}

.aligncenter {
  display:table-cell;
  vertical-align:middle;
}

h1 {
  width: 287px;
  height: 177px;
  overflow: hidden;
  margin: 0 auto;
}
